.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 110vh; /* Adjust height as needed */
    overflow: hidden; 
  }
  
  .backgroundImage {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%; /* Adjust size as needed */
    max-height: 95%; /* Adjust size as needed */
  }
  