.title {
    font-family: 'Jost', sans-serif;
    font-style: italic;
    font-weight: bold;
    font-size: 4em;
    background-color: #D5DBE2;
    color: #092349;
    padding-left: 25px;
    padding-top: 30px;
    padding-bottom: 20px;
    width: 100%;
}
