/* TracksSection.module.css */
.section {
  display: flex;
  align-items: left;
  justify-content: center;
  flex-direction: column;
  background-color: #ffaf00;
  min-height: 100vh;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  overflow: hidden;
  text-align: left;
  padding: 5vh 2rem;
}

.relativeDiv {
  position: relative;
}

.absoluteText {
  position: absolute;
  top: 40%;
  left: 6%;
  transform: translateY(-50%);
  z-index: 2;
  color: white;
  max-width: 470px;
  font-family: 'Jost', sans-serif; 
}

.heading {
  font-size: clamp(3rem, 6vw, 6rem); /* Responsive font size */
  margin-bottom: 1rem;
  font-weight: bold;
  text-shadow: 6px 6px 1px rgba(0, 0, 0, 0.5);
  padding-top: 4vh;
  /*padding-left: 5vh;*/
}

/*.paragraph {
  font-size: "clamp(0.7rem, 2vw, 1.9rem)";
  padding-left: "4rem";
  padding-bottom: "6rem";
  /*line-height: 1.6;
  margin-top: 0;
} */


.diagonalSeparator {
  position: absolute;
  bottom: -1px; 
  left: 0;
  width: 105%; 
  height: auto;
  transform: translateX(-2.5%) rotate(-1deg); 
}

.textContainer {
  padding-bottom: 10vh;
  padding-left: 10vh;
}

/* Medium screens (tablets and small laptops) */
@media (max-width: 1024px) and (orientation: landscape) {
  .section {
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%); /* Slightly shallower angle */
  }
  .container {
    padding-top: 20vh;
    padding-bottom: 20vh;
  }
  .textContainer {
    padding-bottom: 0vh;
  }
}

/* Small screens (mobile devices) */
@media (max-width: 768px) and (orientation: landscape) {
  .section{
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%); 
  }
  .container {
    padding-top: 15vh;
    padding-bottom: 15vh;
  }
  .textContainer {
    padding-bottom: 0vh;
  }
}

/* Extra small screens */
@media (max-width: 480px) and (orientation: landscape) {
  .container {
    padding-top: 10vh;
    padding-bottom: 10vh;
  }
  .textContainer {
    padding-bottom: 0vh;
  }
}

@media (orientation: portrait) {
  .section {
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .textContainer {
    width: 90%; /* Make text container take up more width */
    text-align: center;
    padding-left: 0;
    margin-top: 0;
  }
}